body {
  background-color: #330000;
  color: goldenrod;
}

.excercise-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: solid goldenrod 2px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  background-color: #500000;
  border-radius: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #ff3300;
}

ul {
  list-style: none;
}

.navbar{
  background-color: #200000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border: solid 3px #ff3300;
  border-radius: 2rem;
}

.navbar-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-page{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  border: solid 2px goldenrod;
  border-radius: 1rem;
  text-align: center;
}

input{
  margin: 1rem;
}